
@mixin set-text-position($color){
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 15px;
    color: $color;
=======
    color: $color;
    display: flex; 
    align-items: center; 
    flex-direction: row; 
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
    color: $color;
    display: flex; 
    align-items: center; 
    flex-direction: row; 
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
    color: $color;
    display: flex; 
    align-items: center; 
    flex-direction: row; 
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    color: $color;
    display: flex; 
    align-items: center; 
    flex-direction: row; 
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    color: $color;
    display: flex; 
    align-items: center; 
    flex-direction: row; 
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    color: $color;
    display: flex; 
    align-items: center; 
    flex-direction: row; 
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    color: $color;
=======
    color: $color;
>>>>>>> 4a79868 (Responsive completado al 101)
    display: flex; 
    align-items: center; 
    flex-direction: row; 
    
<<<<<<< HEAD
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
}

@mixin set-background($color){
    background-color: $color;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    height:75px;
=======
    height: 100px;
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
    height: 100px;
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
    height: 100px;
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    height: 100px;
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    height: 100px;
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    height: 100px;
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    height: 100px;
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
    height: 100px;
>>>>>>> 4a79868 (Responsive completado al 101)
    width: 100%;
    display: flex;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin set-logo-nav(){
    height: 100px;
    width: 100px;
}

<<<<<<< HEAD
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin set-txt-center(){
    display: flex; 
    align-items: center; 
    flex-direction: row; 
    margin-top: 13px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin text-overlay-L($color, $fs){
    position: absolute;
    width: 220px;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
=======
=======
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin set-txt-center-J(){
    display: flex; 
    justify-content: center;
    flex-direction: row; 
    margin-top: 13px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin text-overlay-L($ff, $color, $fs){
    position: absolute;
    width: 200px;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-family: $ff;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
    color: $color;
    font-size: $fs;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin text-overlay-R($color, $fs){
    position: absolute;
    width: 260px;
    bottom: 1%;
    right: -12%;
    transform: translate(-50%, -50%);
    color: $color;
=======
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin text-overlay-R($ff, $color, $fs){
    position: absolute;
    width: 240px;
    bottom: 1%;
    right: -8%;
    transform: translate(-50%, -50%);
    color: $color;
    font-family: $ff;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
    font-size: $fs;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
//carrusel intento
@mixin carousel(){
    position: relative;

}

@mixin set-carousel-images(){
    width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    height: 300px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 82a112e (Arreglo del Nav bar1)
=======

>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
    height: 450px;
}

>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    height: 450px;
}

>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    height: 450px;
}

>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    height: 450px;
}

>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    height: 450px;
}

>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
    height: 450px;
}

>>>>>>> 4a79868 (Responsive completado al 101)
@mixin set-font-family($ff){
    font-family: $ff;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin button-style($ff, $color){
    font-family: $ff;
    color: $color;
    list-style: none;
    margin: 25px;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}

@mixin button-animation(){
    transform: scale(1.2);
}

@mixin set-index-position(){
    background-color: beige;
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 0;
    margin-top: 15px;
    padding: 0 10px;
    color: black;
    border-radius: 50px;
    transition: all .7s ease;
=======
=======
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
//Botones links
@mixin button-style($ff, $color, $fs){
    font-family: $ff;
    color: $color;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    margin-left: 20px;
=======
    margin-left: 20%;
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    margin-left: 20%;
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    margin-left: 20%;
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    margin-left: 20%;
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    margin-left: 20%;
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
    margin-left: 20%;
>>>>>>> 4a79868 (Responsive completado al 101)
    width: 170px;
    text-decoration: none;
    font-size: $fs;
    transition: all .4s ease;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
//Estilo para los botones
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
//Estilo para los botones
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
//Estilo para los botones
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
//Estilo para los botones
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
//Estilo para los botones
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
//Estilo para los botones
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
//Estilo para los botones
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
//Estilo para los botones
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
//Estilo para los botones
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin button-b-r($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
    font-size: $fs;
    border-radius: 10px;
    border: none;
    margin-top: 2%;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    margin-left: 1%;
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
    margin-left: 1%;
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
    margin-left: 1%;
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
    margin-left: 1%;
>>>>>>> 5d15aff (blablaa)
=======
    margin-left: 1%;
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
    margin-left: 1%;
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
    margin-left: 1%;
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
    margin-left: 1%;
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
    margin-left: 1%;
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    margin-left: 1%;
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    margin-left: 1%;
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    margin-left: 1%;
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    margin-left: 1%;
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
    margin-left: 1%;
>>>>>>> 4a79868 (Responsive completado al 101)
    height: 40px; 
    width: 120px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin button-b-r-clr($color){
    color: $color;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin button-b-r-clr($color, $fs){
    color: $color;
    font-size: $fs;
    margin-bottom: 2%;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin button-b-r-inter($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
    font-size: $fs;
    border-radius: 10px;
    border: none;
    margin-top: 2%;
    margin-left: 1%;
    height: 40px; 
    width: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
=======
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin button-b-r-orange($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
    font-size: $fs;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    border-radius: 10px;
=======
    border-radius: 35px;
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
    border-radius: 35px;
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    border-radius: 35px;
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    border-radius: 35px;
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    border-radius: 35px;
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    border-radius: 35px;
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
    border-radius: 35px;
>>>>>>> 4a79868 (Responsive completado al 101)
    border: none;
    margin-top: 2%;
    margin-left: 1%;
    height: 40px; 
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    width: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
    width: 80px;
}

>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
    width: 80px;
}

>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    width: 80px;
}

>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    width: 80px;
}

>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    width: 80px;
}

>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    width: 80px;
}

>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
    width: 80px;
}

>>>>>>> 4a79868 (Responsive completado al 101)
//animation buttons bar
@mixin input-anmtn-btm($color){
    color: $color;
}

//animation search bar
@mixin set-index-position(){
    background-color: beige;
    height: 40px;
    width: 0;
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 10px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    transition: all .7s ease;
}

@mixin set-search-img-stl(){
    position: absolute;
    top: 25%;
    right: 20%;
    height: 30px;
    width: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin btn-stl(){
=======
@mixin btn-stl($color){
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
@mixin btn-stl($color){
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
@mixin btn-stl($color){
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
@mixin btn-stl($color){
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
@mixin btn-stl($color){
>>>>>>> 5d15aff (blablaa)
=======
@mixin btn-stl($color){
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
@mixin btn-stl($color){
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
@mixin btn-stl($color){
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
@mixin btn-stl($color){
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
@mixin btn-stl($color){
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
@mixin btn-stl($color){
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
@mixin btn-stl($color){
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
@mixin btn-stl($color){
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
@mixin btn-stl($color){
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
@mixin btn-stl($color){
>>>>>>> 4a79868 (Responsive completado al 101)
    position: absolute;
    right: 10%;
    top: 50%;
    height: 50px;
    width: 50px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: aqua;
=======
    background-color: $color;
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
    background-color: $color;
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
    background-color: $color;
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
    background-color: $color;
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
    background-color: $color;
>>>>>>> 5d15aff (blablaa)
=======
    background-color: $color;
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
    background-color: $color;
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
    background-color: $color;
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
    background-color: $color;
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
    background-color: $color;
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
    background-color: $color;
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
    background-color: $color;
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
    background-color: $color;
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
    background-color: $color;
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
    background-color: $color;
>>>>>>> 4a79868 (Responsive completado al 101)
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

@mixin cntr-anmtn(){
    margin: 15px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
    padding: 10px;
}

@mixin input-anmtn(){
    width: 200px;
    height: 40px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 22afb66 (Actualizacion de las animaciones y distribucion en 7 en 1)
=======
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
}

=======
}

//Diseño del background
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
}

//Diseño del background
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
}

//Diseño del background
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
}

//Diseño del background
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
}

//Diseño del background
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
}

//Diseño del background
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
}

//Diseño del background
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
}

//Diseño del background
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
}

//Diseño del background
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin imagen-body(){
    background-size: cover;
    background-position: center;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
}

=======
}

//index de la pagina de registro
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
}

//index de la pagina de registro
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
}

//index de la pagina de registro
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
}

//index de la pagina de registro
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
}

//index de la pagina de registro
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
}

//index de la pagina de registro
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
}

//index de la pagina de registro
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
}

//index de la pagina de registro
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
}

//index de la pagina de registro
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin set-index-register(){
    background-color: beige;
    height: 40px;
    width: 270px;
    margin-top: 20px;
    margin-right: 5px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
}

@mixin registro-style(){
    display: flex; 
    align-items: center; 
    justify-content: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin txt-reg($fs){
    font-size: $fs;
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin inicio-sesion-style($color){
    background-color: $color;
    height: 600px; width: 400px; 
    margin-top: 10%; 
    border-radius: 10%; 
    display: flex; 
    align-items: center; 
    flex-direction: column;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
//Estilos Pagina Recuperar Contraseña
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
//Estilos Pagina Recuperar Contraseña
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
//Estilos Pagina Recuperar Contraseña
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
//Estilos Pagina Recuperar Contraseña
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
//Estilos Pagina Recuperar Contraseña
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
//Estilos Pagina Recuperar Contraseña
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
//Estilos Pagina Recuperar Contraseña
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@media (max-width: 600px){

}


//Estilos Pagina Recuperar Contraseña
<<<<<<< HEAD
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin images-L-sesion-style(){
    height: 80px; 
    margin-top: 5%
}

@mixin images-sesion-style(){
    height: 80px; 
    opacity: 90%; 
    margin-top: 5%;
    border-radius: 50%;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin images-lock-style(){
    height: 80px; 
    opacity: 90%; 
    margin-top: 5%;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
@mixin index-position-ssn(){
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    margin-top: 7%;
}

@mixin buttons-div-ssn(){
    display: flex; 
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    align-items: center; 
    flex-direction: column; 
    margin-top: 15%;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 5d15aff (blablaa)
}
=======
}

=======
}

//Boton con tamaño adaptativo
>>>>>>> bd23b2a (Pagina perdil Finalizada)
@mixin button-adaptative($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
    font-size: $fs;
=======
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
    align-items: center;
    flex-direction: column; 
    margin-top: 15%;
}

@mixin text-recover-password(){
    margin-left: 20%; 
    padding-right: 15%; 
    text-align: right;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
}

//Boton con tamaño adaptativo
@mixin button-adaptative($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
    border-radius: 10px;
    border: none;
    margin-top: 2%;
    margin-left: 1%;
    height: auto; 
    width: auto;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
=======
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
    border-radius: 10px;
    border: none;
    margin-top: 2%;
    height: auto; 
    width: auto;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)

//Estilos cards
=======

//Estilos cards podium
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======

//Estilos cards podium
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======

//Estilos cards podium
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======

//Estilos cards podium
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======

//Estilos cards podium
>>>>>>> 4a79868 (Responsive completado al 101)

@mixin card-podio-one(){
    height: 300px;
    width: 100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin card-nombre-one($color, $fs){
    position: absolute;
=======
@mixin card-nombre-one($color, $fs, $ff){
    position: absolute;
    font-family: $ff;
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
@mixin card-nombre-one($color, $fs, $ff){
    position: absolute;
    font-family: $ff;
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
@mixin card-nombre-one($color, $fs, $ff){
    position: absolute;
    font-family: $ff;
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
@mixin card-nombre-one($color, $fs, $ff){
    position: absolute;
    font-family: $ff;
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
@mixin card-nombre-one($color, $fs, $ff){
    position: absolute;
    font-family: $ff;
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
@mixin card-nombre-one($color, $fs, $ff){
    position: absolute;
    font-family: $ff;
>>>>>>> 4a79868 (Responsive completado al 101)
    width: 220px;
    bottom: 10%;
    left: 32%;
    transform: translate(-50%, 20%);
    color: $color;
    font-size: $fs;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

@mixin card-boton-ver($color, $fs){
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: translate(-5%, 20%);
    color: $color;
    font-size: $fs;
}

@mixin card-corona(){
    position: absolute;
    top: -3%;
    right: 0;
    height: 60px;
    transform: translate(-5%, 20%);
    //color: $color;
    //font-size: $fs;

}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)

@mixin card-corona-numero($ff, $color,){
    position: absolute;
    top: 5%;
    right: 8%;
    height: 60px;
    transform: translate(-5%, 20%);
    color: $color;
    font-family: $ff;
    //font-size: $fs;

}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
//Footer

@mixin footer-estilos(){
    display: flex; 
    flex-direction: column; 
=======
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
//under podium

@mixin card-nombre-two($color, $fs, $ff){
    position: absolute;
    font-family: $ff;
    width: 150px;
    bottom: 10%;
    left: 32%;
    transform: translate(-50%, 40%);
    color: $color;
    font-size: $fs;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

@mixin card-boton-ver-u($color, $fs){
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: translate(-5%, 20%);
    color: $color;
    font-size: $fs;
}

//Footer

@mixin footer-estilos($color){
    display: flex; 
    flex-direction: column; 
    background-color: $color;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
    margin-top: 10%;
    justify-content: center; 
    align-items: center;
}

@mixin footer-logo-style(){
    height: 80px; 
    opacity: 90%; 
    padding-top: 10px;  
}

@mixin nav-icons-foot(){
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 10px;
}

@mixin icons-foot(){
    height: 25px; 
    opacity: 90%; 
    margin: 5%;
}

@mixin desc-foot($fs){
    font-size: $fs; 
    padding-top: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
}
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
>>>>>>> 4a79868 (Responsive completado al 101)
}

//profile Cards

@mixin prof-card($color){
    margin-top: 2%;
    width: 100%;
    height: 500px;
    border: 4px solid $color;
    border-radius: 30px;
}

@mixin photo-perfil(){
    height: 100%; 
    width: auto; 
    border-radius: 5%;
}

@mixin profile-text($color){
    color: $color; 
    margin-top: 10%; 
    justify-content: space-between;
}

@mixin my-recipes($color){
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-left: 5%; 
    height: 97%; 
    width: 40%; 
    background-color: $color; 
    border-radius: 20px;
}

@mixin button-style-my-r($ff, $color, $fs){
    font-family: $ff;
    color: $color;
    text-decoration: none;
    font-size: $fs;
    transition: all .4s ease;
    cursor: pointer;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
}
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
}
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
=======
}
>>>>>>> 4a79868 (Responsive completado al 101)
