
@mixin set-text-position($color){
    margin-top: 15px;
    color: $color;
    //background-color: aqua;
}

@mixin set-background($color){
    background-color: $color;
    height:75px;
    width: 100%;
    display: flex;
}

@mixin carousel(){
    position: relative;

}
//carrusel intento
@mixin set-carousel-images(){
    width: 100%;
    height: 300px;
    border-radius: 25px;
}
@mixin set-font-family($ff){
    font-family: $ff;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin button-style($ff, $color){
    font-family: $ff;
    color: $color;
    list-style: none;
    margin: 25px;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}

@mixin button-animation(){
    transform: scale(1.2);
}

@mixin set-index-position(){
    background-color: beige;
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 0;
    margin-top: 15px;
    padding: 0 10px;
    color: black;
    border-radius: 50px;
    transition: all .7s ease;
=======
=======
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
//Botones links
@mixin button-style($ff, $color, $fs){
    font-family: $ff;
    color: $color;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 170px;
    text-decoration: none;
    font-size: $fs;
    transition: all .4s ease;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
@mixin button-b-r($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
    font-size: $fs;
    border-radius: 10px;
    border: none;
    margin-top: 2%;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    margin-left: 1%;
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
    margin-left: 1%;
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
    height: 40px; 
    width: 120px;
}

@mixin button-b-r-clr($color){
    color: $color;
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
@mixin button-b-r-inter($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
    font-size: $fs;
    border-radius: 10px;
    border: none;
    margin-top: 2%;
    margin-left: 1%;
    height: 40px; 
    width: auto;
}

<<<<<<< HEAD

>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
@mixin button-b-r-orange($ff, $color, $fs){
    font-family: $ff;
    background-color: $color;
    font-size: $fs;
    border-radius: 10px;
    border: none;
    margin-top: 2%;
    margin-left: 1%;
    height: 40px; 
    width: auto;
}

>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
//animation buttons bar
@mixin input-anmtn-btm($color){
    color: $color;
}

//animation search bar
@mixin set-index-position(){
    background-color: beige;
    height: 40px;
    width: 0;
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 10px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    transition: all .7s ease;
}

@mixin set-search-img-stl(){
    position: absolute;
    top: 25%;
    right: 20%;
    height: 30px;
    width: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@mixin btn-stl(){
=======
@mixin btn-stl($color){
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
@mixin btn-stl($color){
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
@mixin btn-stl($color){
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
    position: absolute;
    right: 10%;
    top: 50%;
    height: 50px;
    width: 50px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: aqua;
=======
    background-color: $color;
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
    background-color: $color;
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
    background-color: $color;
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

@mixin cntr-anmtn(){
    margin: 15px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
    padding: 10px;
}

@mixin input-anmtn(){
    width: 200px;
    height: 40px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 22afb66 (Actualizacion de las animaciones y distribucion en 7 en 1)
=======
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
}