//font: https://fonts.google.com/specimen/Source+Sans+Pro

//font-family
$ff: 'DM Sans', "inter";
$ff-card: 'DM Serif Display', "italic";
//font-weight

$fw-s: 200;
$fw-m: 300;
$fw-l: 400;
$fw-xl: 500;

//font-size

<<<<<<< HEAD
<<<<<<< HEAD
=======
$fs-xs: 0.75rem;
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
$fs-xs: 0.75rem;
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
$fs-s: 1.25rem;
$fs-m: 1.75rem;
$fs-l: 2.0rem;
$fs-xl: 3.0rem;

//colors
$clr-white: 	hsl(300, 3%, 93%);
$clr-green: hsla(150, 16%, 41%);
$clr-Liht-green: hsla(76, 51%, 68%);
$clr-grey: hsla(0, 3%, 34%);
$clr-orange-100: hsl(40, 96%, 55%);
