//font: https://fonts.google.com/specimen/Source+Sans+Pro

//font-family
$ff: 'DM Sans', "inter";
//font-weight

$fw-s: 200;
$fw-m: 300;
$fw-l: 400;
$fw-xl: 500;

//font-size

$fs-s: 1.25rem;
$fs-m: 1.75rem;
$fs-l: 2.0rem;
$fs-xl: 3.0rem;

//colors
$clr-white: 	hsl(300, 3%, 93%);
$clr-green: hsla(150, 16%, 41%);
$clr-grey: hsla(0, 3%, 34%);
$clr-orange-100: hsla(13, 92%, 56%);
