@use '../abstract/variables';
@use '../abstract/mixins';

//estilos nav del navbar
.nav-txt-pstn{
    @include mixins.set-text-position(variables.$clr-white);
}

@media (max-width: 600px){
    .nav-txt-pstn{
        flex-direction: column;
        align-items: center;
    }
}

.nav-logo{
    @include mixins.set-logo-nav();
}

@media (max-width: 600px){
    .nav-logo{
        height: 200px;
        width: 200px;
    }
}

.nav-clr-bg{
    @include mixins.set-background(variables.$clr-green);
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
@media (max-width: 600px){
    .nav-clr-bg{
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }
}

>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
.set-pst-text{
    @include mixins.set-txt-center();
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.texto-sobrepuesto{
<<<<<<< HEAD
    @include mixins.text-overlay-L(variables.$clr-white, variables.$fs-xl);
}

.texto-sobrepuesto-r{
    @include mixins.text-overlay-R(variables.$clr-white, variables.$fs-xl);
}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
=======
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
@media (max-width: 600px){
    .set-pst-text{
        justify-content: none;
    }
}

>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
.set-text-justify{
    @include mixins.set-txt-center-J();
}

.texto-sobrepuesto{
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
    @include mixins.text-overlay-L(variables.$ff-card, variables.$clr-white, variables.$fs-xl);
}

.texto-sobrepuesto-r{
    @include mixins.text-overlay-R(variables.$ff-card, variables.$clr-white, variables.$fs-xl);
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
.set-ff{
    @include mixins.set-font-family(variables.$ff);
}

<<<<<<< HEAD
=======

>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
.index-pstn{
    @include mixins.set-index-position();
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======
>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======
>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======
>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======
>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======
@media (max-width: 600px){
    .index-pstn{
        transform: translate(65%, 80%);
    }
}


>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
.container-animation{
    @include mixins.cntr-anmtn();
}


<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 22afb66 (Actualizacion de las animaciones y distribucion en 7 en 1)
=======
>>>>>>> f4d05fb (Pagina Principal Finalizada, queda arreglar las cards y listo)
=======
>>>>>>> bc6fb1a (Pagina principal y top 10 finalizada con place holder)
=======
>>>>>>> a0583ad (Pagina Principal finalizada y pagina de la receta tamb)
=======
>>>>>>> c8a738e (inicio pagina de inicio de sesion)
=======
>>>>>>> 5d15aff (blablaa)
=======
>>>>>>> 0797de7 (Pagina de recuperacion de contrasena lista)
=======
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======

>>>>>>> 82a112e (Arreglo del Nav bar1)
=======

>>>>>>> 6ccab86 (Arreglo del diseño de los Cards1)
=======

>>>>>>> 64333df (Arreglo de los cards y diseño del nav bar1)
=======

>>>>>>> 6a54e6b (Arreglo de componentes y recetas1)
=======

>>>>>>> e7eb9f6 (Arreglo del css de la pagina del pefirl y uso de componentes2)
=======

>>>>>>> c6b5e0d (Utilizacion de componentes en todas las paginas)
=======

>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
