@use '../abstract/variables';
@use '../abstract/mixins';

//Estilos Nav Pagina de Registro/Recuperar Contraseña
.set-div-regist{
    @include mixins.registro-style();
}

.div-index-ssn{
    @include mixins.index-position-ssn();
}

.div-btn-ssn{
    @include mixins.buttons-div-ssn();
}

<<<<<<< HEAD
=======
@media (max-width: 600px){
    .regist-text{
        margin-top: 20%;
    }
    .div-btn-ssn{
        margin-top: 6%;
    }
}
>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
.style-start{
    @include mixins.inicio-sesion-style(variables.$clr-Liht-green);
}

<<<<<<< HEAD
=======
@media (max-width: 600px){
    .style-start{
        width: 350px;
        border-radius: 25px;
    }
}


>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
.txt-stl-rp{
    @include mixins.text-recover-password();
}

.regist-text{
    @include mixins.txt-reg(variables.$fs-s);
}

<<<<<<< HEAD
=======


>>>>>>> 1126408 (Arreglo de los componentes faltantes y responsible completado al 70%)
//Estilos Imagen Pagina de Registro/Recuperar Contraseña
.img-strt-ssn-logo{
    @include mixins.images-L-sesion-style();
}       

.img-strt-ssn{
    @include mixins.images-sesion-style();
}       

.img-lock{
    @include mixins.images-lock-style();
}

