@use '../abstract/variables';
@use '../abstract/mixins';

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
//Imagen Fondo Pagina de sesion/recuperar contrase単a
>>>>>>> bd23b2a (Pagina perdil Finalizada)
=======
//Imagen Fondo Pagina de sesion/recuperar contrase単a
>>>>>>> 82a112e (Arreglo del Nav bar1)
=======
//Imagen Fondo Pagina de sesion/recuperar contrase単a
>>>>>>> 6ccab86 (Arreglo del dise単o de los Cards1)
.body-img{
    @include mixins.imagen-body();
}